@import "tailwindcss";

:root {
  --background: #ecebea;
  --foreground: #171717;
  --muted: #bebebe;
  --primary: #eb1d00;
  --primary-foreground: #ffffff;
  --surface: #ffffff;
  --surface-foreground: #171717;
  --radius: 8px;
  --input-height: 3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202020;
    --foreground: #ededed;
    --muted: #515151;
    --primary: #eb1d00;
    --primary-foreground: #ffffff;
    --surface: #515151;
    --surface-foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
  }

  h1 {
    @apply text-[2rem] font-extrabold text-center leading-tight;
  }

  p {
    @apply leading-tight;
  }

}

